.modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadeOut;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
}

.modal {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--background-color);
    border-radius: 8px;
}

.modal__caption {
    position: relative;
    padding: 24px 24px 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.modal__close {
    position: absolute;
    top: 50%;
    right: 24px;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    border-radius: 16px;
    border: 0 none;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;

    .icon {
        font-size: 24px;
    }
}

.modal__body {
    padding: 16px 24px 24px;
}

.modal__actions {
    display: flex;
    justify-content: end;
    gap: 8px;
    padding-top: 16px;
}

.modal-fetching {
    .modal__body,
    .modal__actions {
        opacity: 0;
    }
}