@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    position: relative;
    width: 16px;
    height: 16px;
    margin: auto;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        background-image: url("../../assets/icn_web_vendor_filled_loader.png");
        animation: rotation 1s linear infinite;
    }
}