
.icon-icn_web_vendor_outline_filter:before { content: '\e800'; } /* '' */
.icon-icn_web_vendor_outline_help:before { content: '\e801'; } /* '' */
.icon-icn_web_vendor_outline_more:before { content: '\e802'; } /* '' */
.icon-icn_web_vendor_outline_new-request:before { content: '\e803'; } /* '' */
.icon-icn_web_vendor_outline_offer:before { content: '\e804'; } /* '' */
.icon-icn_web_vendor_outline_on-off:before { content: '\e805'; } /* '' */
.icon-icn_web_vendor_outline_person:before { content: '\e806'; } /* '' */
.icon-icn_web_vendor_outline_plus:before { content: '\e807'; } /* '' */
.icon-icn_web_vendor_outline_report:before { content: '\e808'; } /* '' */
.icon-icn_web_vendor_outline_search:before { content: '\e809'; } /* '' */
.icon-icn_web_vendor_outline_stop:before { content: '\e80a'; } /* '' */
.icon-icn_web_vendor_outline_tag:before { content: '\e80b'; } /* '' */
.icon-icn_web_vendor_outline_up:before { content: '\e80c'; } /* '' */
.icon-icn_web_vendor_skeleton:before { content: '\e80d'; } /* '' */
.icon-resize-handle:before { content: '\e80e'; } /* '' */
.icon-status-icon_web:before { content: '\e80f'; } /* '' */
.icon-status-icon_web_1:before { content: '\e810'; } /* '' */
.icon-status-icon_web_2:before { content: '\e811'; } /* '' */
.icon-checkbox:before { content: '\e812'; } /* '' */
.icon-checkbox-1:before { content: '\e813'; } /* '' */
.icon-checkbox-2:before { content: '\e814'; } /* '' */
.icon-checkbox-3:before { content: '\e815'; } /* '' */
.icon-cursor-click:before { content: '\e816'; } /* '' */
.icon-icn_web_vendor_filled_calendar:before { content: '\e817'; } /* '' */
.icon-icn_web_vendor_filled_chart:before { content: '\e818'; } /* '' */
.icon-icn_web_vendor_filled_chat:before { content: '\e819'; } /* '' */
.icon-icn_web_vendor_filled_counter:before { content: '\e81a'; } /* '' */
.icon-icn_web_vendor_filled_dashboard:before { content: '\e81b'; } /* '' */
.icon-icn_web_vendor_filled_down:before { content: '\e81c'; } /* '' */
.icon-icn_web_vendor_filled_file:before { content: '\e81d'; } /* '' */
.icon-icn_web_vendor_filled_group:before { content: '\e81e'; } /* '' */
.icon-icn_web_vendor_filled_loader:before { content: '\e81f'; } /* '' */
.icon-icn_web_vendor_filled_mail:before { content: '\e820'; } /* '' */
.icon-icn_web_vendor_filled_mailing:before { content: '\e821'; } /* '' */
.icon-icn_web_vendor_filled_marker:before { content: '\e822'; } /* '' */
.icon-icn_web_vendor_filled_menu:before { content: '\e823'; } /* '' */
.icon-icn_web_vendor_filled_notification:before { content: '\e824'; } /* '' */
.icon-icn_web_vendor_filled_offer:before { content: '\e825'; } /* '' */
.icon-icn_web_vendor_filled_partner:before { content: '\e826'; } /* '' */
.icon-icn_web_vendor_filled_pass-hidden:before { content: '\e827'; } /* '' */
.icon-icn_web_vendor_filled_pass-visible:before { content: '\e828'; } /* '' */
.icon-icn_web_vendor_filled_pass:before { content: '\e829'; } /* '' */
.icon-icn_web_vendor_filled_person:before { content: '\e82a'; } /* '' */
.icon-icn_web_vendor_filled_report-distr:before { content: '\e82b'; } /* '' */
.icon-icn_web_vendor_filled_report:before { content: '\e82c'; } /* '' */
.icon-icn_web_vendor_filled_retail:before { content: '\e82d'; } /* '' */
.icon-icn_web_vendor_filled_time:before { content: '\e82e'; } /* '' */
.icon-icn_web_vendor_filled_up:before { content: '\e82f'; } /* '' */
.icon-icn_web_vendor_outline_arrow-down:before { content: '\e830'; } /* '' */
.icon-icn_web_vendor_outline_arrow-l-medium:before { content: '\e831'; } /* '' */
.icon-icn_web_vendor_outline_arrow-l:before { content: '\e832'; } /* '' */
.icon-icn_web_vendor_outline_arrow-r-medium:before { content: '\e833'; } /* '' */
.icon-icn_web_vendor_outline_arrow-r:before { content: '\e834'; } /* '' */
.icon-icn_web_vendor_outline_arrow-up:before { content: '\e835'; } /* '' */
.icon-icn_web_vendor_outline_attention:before { content: '\e836'; } /* '' */
.icon-icn_web_vendor_outline_attention_1:before { content: '\e837'; } /* '' */
.icon-icn_web_vendor_outline_cancel:before { content: '\e838'; } /* '' */
.icon-icn_web_vendor_outline_close:before { content: '\e839'; } /* '' */
.icon-icn_web_vendor_outline_close_m:before { content: '\e83a'; } /* '' */
.icon-icn_web_vendor_outline_collapse:before { content: '\e83b'; } /* '' */
.icon-icn_web_vendor_outline_dashboard:before { content: '\e83c'; } /* '' */
.icon-icn_web_vendor_outline_down:before { content: '\e83d'; } /* '' */
.icon-icn_web_vendor_outline_download:before { content: '\e83e'; } /* '' */
.icon-icn_web_vendor_outline_edit:before { content: '\e83f'; } /* '' */
.icon-icn_web_vendor_outline_expand:before { content: '\e840'; } /* '' */
.icon-icn_web_vendor_outline_eye-closed:before { content: '\e841'; } /* '' */
.icon-icn_web_vendor_outline_eye:before { content: '\e842'; } /* '' */
.icon-icn_web_vendor_outline_file:before { content: '\e843'; } /* '' */
