.field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    line-height: 20px;
    /*color: var(--text-area-tertiary);*/

    & input {
        width: 100%;
        font-family: inherit;
        font-size: 14px;
        line-height: 20px;
        padding: 10px 16px;
        border-radius: 6px;
        border: 0 none;
        outline: none;
        /*color: var(--text-area-primary);
        background-color: var(--bg-card-tertiary);
        box-shadow: inset 0 0 0 1px var(--border-input-primary);*/

        &::placeholder {
            /*color: var(--text-input-primary);*/
            color: rgba(255, 255, 255, 0.3);
            opacity: 1; /* Firefox */
        }

        &::-ms-input-placeholder { /* Edge 12 -18 */
            /*color: var(--text-input-primary);*/
        }

        &:placeholder-shown {
            /*background-color: var(--bg-area);*/
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active/*,
        &:-internal-autofill-selected*/ {
            /*background-color: var(--bg-card-tertiary) !important;*/
        }
    }

    & input:focus {
        /*box-shadow: inset 0 0 0 1px var(--icn-web-select);*/
    }

    & input:disabled {
        /*color: var(--text-input-primary);
        box-shadow: inset 0 0 0 1px var(--border-input-secondary);*/
        cursor: default;
    }
}

.field__input_wrap {
    position: relative;
}

.field__label {
    padding-left: 2px;
}

.field-error input,
.field-error input:focus {
    /*
    box-shadow: inset 0 0 0 1px var(--border-input-error);
    background-color: var( --bg-input-error);
    */
}

.field__error {
    /*color: var(--text-input-error);*/
}

.field .field__input_wrap::before,
.field .field__input_wrap::after {
    /*color: var(--icn-web-select);*/
}

.field-error .field__input_wrap::before,
.field-error .field__input_wrap::after {
    /*color: var(--icon-fifth);*/
}
