.authorization__page {
    flex: 1;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: center;
}

.authorization__form {
    flex: 1;
    max-width: 240px;

    & > button {
        margin-top: 16px;
    }
}