:root {
    --background-color: rgba(28, 31, 36, 1);
    --color: rgba(255, 255, 255, 0.87);
    --color-primary: rgba(138, 128, 63, 1);
    --padding: 30px;

    --icon-icn_web_vendor_outline_filter: '\e800';
    --icon-icn_web_vendor_outline_help: '\e801';
    --icon-icn_web_vendor_outline_more: '\e802';
    --icon-icn_web_vendor_outline_new-request: '\e803';
    --icon-icn_web_vendor_outline_offer: '\e804';
    --icon-icn_web_vendor_outline_on-off: '\e805';
    --icon-icn_web_vendor_outline_person: '\e806';
    --icon-icn_web_vendor_outline_plus: '\e807';
    --icon-icn_web_vendor_outline_report: '\e808';
    --icon-icn_web_vendor_outline_search: '\e809';
    --icon-icn_web_vendor_outline_stop: '\e80a';
    --icon-icn_web_vendor_outline_tag: '\e80b';
    --icon-icn_web_vendor_outline_up: '\e80c';
    --icon-icn_web_vendor_skeleton: '\e80d';
    --icon-resize-handle: '\e80e';
    --icon-status-icon_web: '\e80f';
    --icon-status-icon_web_1: '\e810';
    --icon-status-icon_web_2: '\e811';
    --icon-checkbox: '\e812';
    --icon-checkbox-1: '\e813';
    --icon-checkbox-2: '\e814';
    --icon-checkbox-3: '\e815';
    --icon-cursor-click: '\e816';
    --icon-icn_web_vendor_filled_calendar: '\e817';
    --icon-icn_web_vendor_filled_chart: '\e818';
    --icon-icn_web_vendor_filled_chat: '\e819';
    --icon-icn_web_vendor_filled_counter: '\e81a';
    --icon-icn_web_vendor_filled_dashboard: '\e81b';
    --icon-icn_web_vendor_filled_down: '\e81c';
    --icon-icn_web_vendor_filled_file: '\e81d';
    --icon-icn_web_vendor_filled_group: '\e81e';
    --icon-icn_web_vendor_filled_loader: '\e81f';
    --icon-icn_web_vendor_filled_mail: '\e820';
    --icon-icn_web_vendor_filled_mailing: '\e821';
    --icon-icn_web_vendor_filled_marker: '\e822';
    --icon-icn_web_vendor_filled_menu: '\e823';
    --icon-icn_web_vendor_filled_notification: '\e824';
    --icon-icn_web_vendor_filled_offer: '\e825';
    --icon-icn_web_vendor_filled_partner: '\e826';
    --icon-icn_web_vendor_filled_pass-hidden: '\e827';
    --icon-icn_web_vendor_filled_pass-visible: '\e828';
    --icon-icn_web_vendor_filled_pass: '\e829';
    --icon-icn_web_vendor_filled_person: '\e82a';
    --icon-icn_web_vendor_filled_report-distr: '\e82b';
    --icon-icn_web_vendor_filled_report: '\e82c';
    --icon-icn_web_vendor_filled_retail: '\e82d';
    --icon-icn_web_vendor_filled_time: '\e82e';
    --icon-icn_web_vendor_filled_up: '\e82f';
    --icon-icn_web_vendor_outline_arrow-down: '\e830';
    --icon-icn_web_vendor_outline_arrow-l-medium: '\e831';
    --icon-icn_web_vendor_outline_arrow-l: '\e832';
    --icon-icn_web_vendor_outline_arrow-r-medium: '\e833';
    --icon-icn_web_vendor_outline_arrow-r: '\e834';
    --icon-icn_web_vendor_outline_arrow-up: '\e835';
    --icon-icn_web_vendor_outline_attention: '\e836';
    --icon-icn_web_vendor_outline_attention_1: '\e837';
    --icon-icn_web_vendor_outline_cancel: '\e838';
    --icon-icn_web_vendor_outline_close: '\e839';
    --icon-icn_web_vendor_outline_close_m: '\e83a';
    --icon-icn_web_vendor_outline_collapse: '\e83b';
    --icon-icn_web_vendor_outline_dashboard: '\e83c';
    --icon-icn_web_vendor_outline_down: '\e83d';
    --icon-icn_web_vendor_outline_download: '\e83e';
    --icon-icn_web_vendor_outline_edit: '\e83f';
    --icon-icn_web_vendor_outline_expand: '\e840';
    --icon-icn_web_vendor_outline_eye-closed: '\e841';
    --icon-icn_web_vendor_outline_eye: '\e842';
    --icon-icn_web_vendor_outline_file: '\e843';
}