.page {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: var(--padding);
    /*animation: fadeOut 0.1s linear forwards;*/
}

.page__title {
    margin: 0;
}

.page__loader {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}