.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: var(--padding);
    /*
    animation: fadeOut 0.1s linear forwards;
    flex: 1;
    */
    height: calc(100dvh - 80px);
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.page__title {
    margin: 0;
    display: flex;
    gap: 16px;
    align-items: center;
}

.page__loader {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}