.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 40px;
    min-height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding: 0 var(--padding);
    user-select: none;
}

.header__logo {
    width: 56px;
    height: 56px;
    /*background-color: rgba(255, 255, 255, .2);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../assets/logo.svg");
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.header__auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.profile__avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .2);
    overflow: hidden;
}

.header__loader {
    width: 32px;
    height: 32px;
}